// common color
$white: #ffff;

// theme color
$link_color:#ffff;
$link_hover:#2A8CA7;
$border_color:#2A8CA7;
$black: #010101df;
$btn_background:#2A8CA7;
$btn_color: #ffff;
$btn_border:#2A8CA7;
$btn_hover:#2A8CA7;
$heading_color:#2A8CA7;
$primary_color:#2A8CA7;
$background_color:#f6f6f6;
$gray:#8f898949;
$overly:#090909b5;

