.service-area{
    background: $background_color;
    .single-service{
        background: $white;
        padding: 25px 30px;
        margin-bottom: 30px;
        box-shadow: 0px 0px 11px 0px $gray;
        &:hover i{
                border-radius: 0;
            }
        i{
            font-size: 20px;
            background: $primary_color;
            color: $white;
            padding: 18px;
            transition: 0.5s all;
            border-radius: 50%;
            

        }
        h4{
            font-size: 20px;
            color: $black;
            margin: 15px 0;


        }
        p{
            color: $black;

        }
        
    }

}
@media screen and (max-width: 769px){
    .service-area{
        .col-xxl-4{
            width: 50%;
        }
    }
}
@media screen and (max-width: 480px){
    .service-area{
        .col-xxl-4{
            width: 100%;
        }
    }
}